*{ 
    
    padding: 0;
    box-sizing: border-box;
    }
    
    body {
        font-family: 'Rubik';
        position: relative;
    
    }

    ul {
        padding-right: 2rem;
    }

    /*header*/

    .wrap {
        width: 1550px;
        margin: 0 auto;
        position: relative;
        background-image: url(slide/fon-tekstura-uzor-peryshki.jpg);
       
        
    }

     .wrap .contener {
        display: flex;
        justify-content: space-between;
        align-items: inherit;
        
    }

     .contener ul  {
        padding-top: 33px;
    }
    
     .logo img  {
        height: 120px;
        margin-left: 100px;
    }
    
    .logo p {
        padding-bottom: 10px;
        font-size: 20px;
        margin-left: 140px;
    }
    
     input {
        height: 70px;
        width: 660px;
        padding: 0 24px;
        font-size: 1rem; 
        padding: 5px 2px 5px 18px;
        border: 0,1px solid;
        border-radius: 10px;
    }
      
    input img {
        position: absolute;
        padding: 0 12px;
    }
    
    .namber li {
        display: inline;
        
    }

    .namber_top {
        height: 55px;
    }
    
    .namber_input {
        font-size: 16px;
         margin-bottom: 10px;
    }
    
  
    li {
        list-style-type: none;
    }
    a {
      color: inherit;
      text-decoration: none;
      padding-bottom: 2px;
    }
    
  /*menu_*/

  .menu_top { 
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding-top: 15px ;
    padding-right: 210px;
    }
    
    .menu_top a {
        
        color: white;
        font-size: 20px; 
        position: relative; 
        cursor: pointer;
        line-height: 2; 
        text-decoration: none; 
        } 
    
    .menu_top a::after  {
        display: block;
        position: absolute;
        left: 0; 
        width: 0;
        height: 2px; 
        background-color:white;
        content: "";
        transition: width 0.3s ease-out; 
        } 

        .menu_top a:hover:after,
        .menu_top a:focus:after { width: 100%; 
        } 
    

    .menu_top img {
        width: 90px;
        height: 80px;
       margin-left: 455px;
       padding-bottom: 10px;
    }
    
    /*slaid*/
    .picture {
        width: 100%;
        text-align: center;
    }
    
    .popular .content .opisanie  {
        font-size: 18px;
        padding: 5px;
    }


    .carousel-control-next {
        right: -56px;
    }

    .carousel-control-prev {
        left: -56px;
    }

    .carousel-control-next-icon, .carousel-control-prev-icon {

        width: 3rem;
        height: 5rem;
       
    }

    /*content_popular*/

    .popular .content h3 {
        text-align: center;
        padding-top: 20px;
        font-size: 24px;
    }
    .popular .content img {
        padding-top: 10px;
       
    }
    .popular .content li {
        width: 300px;
        height: 420px;
        margin-bottom: 25px;
        margin: 10px;
        box-shadow: 0 0 20px rgba(43, 42, 42, 0.5);
        background-color: white;
    }
    
   
    .popular .content ul {
        text-align: center;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        text-transform: uppercase;
    }
   
    
    /*footer*/


    .footer {
        background-color: black;
        color: white;
        height: 400px;
    }

    .footer .content {
         text-align: left;
         display: flex;
         justify-content: space-between ;
         padding: 10px;
         margin: 10px;
    }

    .footer .contener {
        text-align: left;
        display: flex;
        justify-content: space-between;
        padding-top:  20px;
        background-color: black;
    }

    .footer .socialseti img {
         width: 40px;
         height: 40px;
         margin-right: 20px;
    
        }

        .footer .IP  {
         width: 700px;
         margin-left: 50px;
        }
        .footer .socialseti   {
        margin-right: 170px;
        }
   
        .footer .content ul {
        width: 300px; 
    
        }
        .footer .content li { 
        padding-bottom: 10px;

        }


        .footer a {
            color: white;
        }
        .footer a:hover {
            color: #F08080;
        }
    
    .content  li.name_footer  { 
    padding-bottom: 30px;

    }

    [data-tooltip] {
        position: relative; /* Относительное позиционирование */ 
       }
       [data-tooltip]::after {
        content: attr(data-tooltip); /* Выводим текст */
        position: absolute; /* Абсолютное позиционирование */
        width: 150px; /* Ширина подсказки */
        left: 0; top : 0px; /* Положение подсказки */
        background: white; /* Синий цвет фона */
        color:black; /* Цвет текста */
        padding: 0.5em; /* Поля вокруг текста */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
        pointer-events: none; /* Подсказка */
        opacity: 0; /* Подсказка невидима */
        transition: 1s; /* Время появления подсказки */
       } 
       [data-tooltip]:hover::after {
        opacity: 1; /* Показываем подсказку */
        top: 2em; /* Положение подсказки */
       }
       [data-tooltip] img {
        width: 40px;
        height: 40px;
        margin-top: 80px;
        margin-right: 120px;
       }